/* CSS Document */
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	
}
body {
height:480px;
width:800px;

background: #777;
overflow: hidden;
padding:0;
margin:0;
font-family: AmSans, verdana, helvetica, sans-serif;  ;
}
body.transparent {
background: transparent;
}
@font-face {  
font-family: AmSans ;  
src: url( ../font/AMSANSR_MOD.otf ) format("opentype");  
}  
img{
border:none;
}
input {
background: url(../images/BG_InputField.png) no-repeat;
height:44px;
width:284px;
border:0;
padding: 0 10px 0 10px;
font-size:24px;
color:#626262;
line-height:46px;
}
.inputWrapper {
background: url(../images/BG_InputField.png) no-repeat;
height:44px;
width:284px;
border:0;
padding: 0 10px 0 10px;
font-size:24px;
color:#626262;
line-height:46px;
text-align:left;
overflow:hidden;
}
.input{
line-height:46px;
white-space: nowrap;
overflow:hidden;
}
input:focus {
outline:0px;
border:0;
}

.clear {
clear:both;
}
.floatLeft {
float: left;
}
.floatRight {
float: right;
}
.hyperlink {
text-decoration: underline;
}
.arial {
font-family: Arial, verdana, helvetica, sans-serif;  ;
}
.checkbox {
	width: 90px;
	height: 90px;
	padding: 0 0px 0 0;
	background: url(../images/IMG_CheckBox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(../images/IMG_RadioButton.png) no-repeat;
	width: 60px;
	height: 60px;	
	display: block;	
}
.positionAbsolute {
position:absolute;
}
.styled {
display:none;
}

/* BG */
.BGBox {
height:480px; 
width:800px; 
overflow: hidden; 
margin:0; 
padding:0; 
}
.BGBoxMedium{
background: url(../images/BG_CenterMedium.jpg) no-repeat;
}
.BGBoxLarge{
background: url(../images/BG_CenterLarge.jpg) no-repeat;
}
.BGBoxSplash {
background: url(../images/BG_Splash.jpg) no-repeat;
}
.BGBoxThankYou{
background: url(../images/BG_CenterThankYou.jpg) no-repeat;
}
.BGMediumEmail01 {
background: url(../images/IMG_AvatarEmail01.png) no-repeat right bottom;
}
.BGMediumEmail02 {
background: url(../images/IMG_AvatarEmail02.png) no-repeat left bottom;
}
.BGMediumToSAgreement {
background: url(../images/IMG_AvatarToSAgreement.png) no-repeat  top;
}
.BGMediumNickname {
background: url(../images/IMG_AvatarNickname.png) no-repeat  top left;
}
.BGMediumName {
background: url(../images/IMG_AvatarName.png) no-repeat  bottom left;
}
.BGMediumUserInfo {
background: url(../images/IMG_AvatarUserInfo.png) no-repeat  bottom left;
}
.BGAvatarGood {
background-position:bottom left;  
}
.BGAvatarBad {
background-position:center left;  
}

/* Header */
.headerSplash {
height:90px; 
width:760px; 
margin-top:20px;     
margin-left: auto;
margin-right: auto;
}
.headerNormal {
height:60px; 
width:728px; 
margin-top:30px;   
margin-left: 40px;
}

/* Content */
.contentWidth {
width:722px; 
margin-left: auto;
margin-right: auto;
}
.contentWidthBottom {
width:760px; 
margin-left: auto;
margin-right: auto;
}
#contentSplashContainer {
padding: 210px 42px 0 18px;
height:124px; 
vertical-align: middle;
color:#626262;
font-size:26px;
}
#contentSplashContainer  div{
line-height:124px; 
}
#contentSplashContainer  .boxLeft{
width:346px;
margin-top: 1em;
height:70px; 
}
#contentSplashContainer  .boxLeft a{
margin-right:auto;
margin-left:auto;
}
#contentThankYouContainer {
width:726px;
height:254px;
margin-left: 37px;
}
#contentThankYouContainer div{
color:#001c4a;
font-size:24px;
}
#contentThankYouContainer .innerThankYou{
width:350px;
padding-top:120px;
padding-right:15px;
}
#contentThankYouContainer .thankYouRow2 {
padding-top:15px;
}
#contentMediumContainer {
width:726px;
height:274px;
margin-left: 37px;
color:#001c4a;
}
#contentMediumContainer .innerEmail01{
width:400px;
background: url(../images/IMG_LogoFacebook.png) no-repeat left top;
height:100px;
margin-top:70px;
margin-left:95px;
font-size:30px;
color:#fff;
padding-left:100px;
}
#contentMediumContainer .innerEmail02{
margin-top:30px;
}
#contentMediumContainer .tosAgreement{
width:660px;
height:100px;
margin-top:50px;
margin-left:70px;
font-size:24px;
}
#contentMediumContainer .tosScroller {
height: 200px;
width: 620px;
border: 0;
font-size:20px;
text-align:left;
margin-top:10px;
}
#contentMediumContainer .tosScrollerWrapper {
float:left;
width:534px;
height: 200px;
display:block;
overflow:hidden;
margin-left:44px;
}
#contentMediumContainer .tosScrollerWrapper h1 {
font-size: 28px;
}
#contentMediumContainer .tosScrollerWrapper h2 {
font-size: 24px;
}
#contentMediumContainer .tosSliderDiv {
float:left;
}
#contentMediumContainer .tosSliderUp {
width:0px;
height:0px;
}
#contentMediumContainer .tosSliderBar {
width:16px;
height:200px;
position:relative;
background: url(../images/IMG_ScrollerBar.png) no-repeat 3px 0px;
}
#contentMediumContainer .tosSliderKnob {
width:16px;
height:36px;
position:absolute;
top:0px;
left:0px;
background: url(../images/IMG_ScrollerKnob.png) no-repeat;
}
#contentMediumContainer .tosSliderDown {
width:0px;
height:0px;
}
#contentMediumContainer .tosScrollerInner {
position:relative; 
width:580px; 
min-height:200px; 
height:100%;
}
#contentMediumContainer .tosAgreementCheckBox{
margin: -15px 20px 0 0 ;
}
#contentMediumContainer .tosAgreementRow01{
line-height:55px;
}
#contentMediumContainer .tosAgreementRow02{
line-height:40px;
}
#contentForm  {
font-size:24px;
width:750px;
}
#contentForm .topRow {
width:600px; 
margin-top:30px; 
padding-left:115px;
}
#contentForm .row {
width:600px; 
margin-top:20px; 
padding-left:115px;
}
#contentForm .row02 {
width:600px; 
margin-top:18px; 
padding-left:115px;
height:45px;
}
#contentForm .row03 {
width:600px; 
margin-top:60px; 
padding-left:223px;
}
#contentForm .row04 {
width:485px; 
margin-top:5px; 
}
#contentForm .rowBottom {
width:310px; 
font-size:20px;
color:#fff;
text-align: left;
padding-left:150px;
margin-top:0px; 
}
#contentForm .rowBottom02 {
width:310px; 
font-size:20px;
text-align: left;
padding-left:15px;
}
#contentForm .rowBottom  a{
display:block;
color:#fff;
text-decoration:none;
}
#contentForm .title {
width:160px; 
color:#fff; 
margin-top:10px;
text-align:left;
}
#contentForm .entryResult {
height:58px;
width:58px;
margin-top:-7px;
margin-left:35px;
}
#contentForm .resultBad {
background:url(../images/IMG_ResultBad.png) no-repeat;
}
#contentForm .resultGood {
background:url(../images/IMG_ResultGood.png) no-repeat;
}
#contentForm .entryResultLarge {
margin-top:-20px;
margin-left: 45px;
height:83px;
width:83px;
}
#contentForm .resultBadLarge{
background:url(../images/IMG_ResultBadLarge.png) no-repeat;
}
#contentForm .resultGoodLarge {
background:url(../images/IMG_ResultGoodLarge.png) no-repeat;
}
#contentForm .radioDescription {
font-size:20px;
color:#fff;
margin: 15px 45px 0 5px;
}
#contentContainerBottom {
padding: 2px 10px 0 13px;
height:101px; 
vertical-align: middle;
color:#626262;
font-size:26px;
}
#contentContainerBottom  .boxLeft{
width:351px;
margin-top: 0.3em;
height:70px; 
}


#contentContainerBottomThankyou {
padding: 2px 10px 0 7px;
height:101px; 
vertical-align: middle;
color:#626262;
font-size:26px;
}

/* Date Picker */
.DatePicker{
color:#000;
font-size:32px;
line-height:40px;
text-align:center;
padding-top:8px;
margin-top: -5px;
margin-right:5px;
}
.DatePIckerBG {
background:url(../images/BG_DatePicker.png) no-repeat;
height:138px;
width:88px;
}
.DatePIckerBG2 {
background:url(../images/BG_DatePickerLong.png) no-repeat;
height:138px;
width:118px;
}
.datePickerScrollerWrapper{
overflow:hidden;
height:120px;
}
.DatePIckerBG3 {
background:url(../images/BG_DatePickerArrow.png) no-repeat;
height:138px;
width:88px;
}

/* Popup */
div[data-role="popup"] {
  display:none;
}
.PopupBG {
margin-left:17px;
margin-top: 35px;
background:url(../images/BG_Popup.png) no-repeat;
border-radius: 18px;
-moz-box-shadow: 0px 0px 8px #000;
-webkit-box-shadow: 0px 0px 8px #000;
box-shadow: 0px 0px 8px #000;
height:360px;
width:540px;
}
.PopupBGRegister {
margin-left:17px;
margin-top: 35px;
background:url(../images/BG_PopupRegister.png) no-repeat;
border-radius: 18px;
-moz-box-shadow: 0px 0px 8px #000;
-webkit-box-shadow: 0px 0px 8px #000;
box-shadow: 0px 0px 8px #000;
height:360px;
width:540px;
}
.PopupBGMask {
background:#000;
opacity:0.75;
width:1000px;
height:1000px;
position:absolute;
top:0px;
left:0px;
}
.PopupBGMaskRegister {
background:#000;
opacity:0.75;
width:1000px;
height:1000px;
position:absolute;
top:0px;
left:0px;
}
.PopupBGQuit {
margin:auto;
margin-top: 39px;
background:url(../images/BG_PopupQuit.png) no-repeat;
height:402px;
width:576px;
}
.PopupFixed {
position: relative;
height:402px;
width:576px;
margin-left:112px;
margin-top: 30px;
}
.PopupCloseContainer {
margin:30px 28px 0 0;
}
.PopupWaitingSprite {
width:240px;
height:123px;
position:absolute;
top:189px;
left:280px;
}
.BGAvatarPopup {
background: url(../images/IMG_AvatarPopup.png) no-repeat bottom;
height:380px;
width:540px;
}
.BGAvatarPopupError {
background: url(../images/IMG_AvatarPopupError.png) no-repeat bottom;
height:380px;
width:540px;
}
.BGAvatarPopupQuit {
background: url(../images/IMG_AvatarPopupQuit.png) no-repeat bottom;
height:360px;
width:540px;
}
.BGAvatarPopupRegister {
background: url(../images/IMG_AvatarPopupRegister.png) no-repeat bottom;
height:380px;
width:540px;
}
.PopupContent {
margin-top:40px;
color:#001c4a;
}
.PopupTitle {
font-size:24px;
}
.PopupentryResult {
height:58px;
width:58px;
margin-top:-5px;
margin-left:20px;
}
.PopupResultBad {
background:url(../images/IMG_ResultBad.png) no-repeat;
}
.PopupResultGood {
background:url(../images/IMG_ResultGood.png) no-repeat;
}
.PopupVerifyContainer {
margin-left:120px;
margin-top:20px;
}
.PopupVerifyMessage {
font-size:20px;
text-align: left;
}
.PopupBTNContainer{
margin-top:30px;
}
.PopupBTNContainer2{
margin-top:16px;
}
.PopupErrorMessage {
font-size:20px;
text-align: left;
width:380px;
height:90px;
margin-top:20px;
overflow:hidden;
}
.PopupTag{
color:#000;
}
.PopupRegister {
margin-top:-20px; 
margin-left:5px;
margin-top:-3px;
}
.PopupQuit {
width:530px; 
margin-left:5px;
margin-top:-17px;
}
.PopupQuitContainer {
margin-top:275px;
}
.PopupQuitContainer div {
margin-left:px;
}
.PopMarginTop {
margin-top:10px;
}

/* Keyboard */
.KeyboardBG {
margin:auto;
margin-top: 32px;
background:url(../images/BG_Keyboard.png) no-repeat;
height:416px;
width:747px;
color:#000;
}
.KeyboardFixed {
position: fixed;
}
.KeyboardContainer {
padding:27px 33px 0 33px;
}
.KeyboardTitle {
color:#000; 
font-size:24px;
text-transform:uppercase;
line-height:72px;
width:130px;
margin-left:10px;
}
.KeyboardInputContainer {
height:72px;
width:340px;
background: url(../images/BG_KeyboardInputField.png) no-repeat left center;
font-size:24px;
color:#fff;
line-height:72px;
padding-left:15px;
padding-right:46px;
overflow:hidden;
}
.KeyboardInputContainer.hidden {
position:absolute;
left:0px;
top:-100px;
}
.KeyboardInputField {
overflow:hidden;
white-space: nowrap;
margin-right:14px;
}
.KeyboardPanelContainer {

}
.KeyboardPadSwitch .hidden,
.KeyboardPanelContainer .hidden {
display:none;
}
.KeyboardLeterMedMarginLeft {
margin-left:3px;
}
.KeyboardLeterMedMarginRight {
margin-right:3px;
}

/* Buttons */
.BTNDown{
background-position:bottom;  
}
a.BTNRedClose {
display:block; 
height:60px; 
width:60px; 
background:url(../images/BTN_RedClose.png) no-repeat top;
}
a.BTNRedClose.hover {
background-position:bottom;  
}
a.BTNFacebookLarge {
display:block; 
height:94px; 
width:314px; 
background:url(../images/BTN_FacebookLarge.png) no-repeat top;
border-radius: 18px;
-moz-box-shadow: 0px 5px 5px #124884;
-webkit-box-shadow: 0px 5px 5px #124884;
box-shadow: 0px 5px 5px #124884;
}
a.BTNFacebookLarge.hover {
margin-top:3px;
background-position:bottom;  
border-radius: 18px;
-moz-box-shadow: 0px 3px 5px #124884;
-webkit-box-shadow: 0px 3px 5px #124884;
box-shadow: 0px 3px 5px #124884;
}
a.BTNSignInEmail {
display:block; 
height:72px; 
width:246px; 
background:url(../images/BTN_SignInEmail.png) no-repeat top;
}
a.BTNSignInEmail.hover {
background-position:bottom;  
}
a.BTNCreateNewAccount {
display:block; 
height:72px; 
width:186px; 
background:url(../images/BTN_CreateNewAccount.png) no-repeat top;
}
a.BTNCreateNewAccount.hover {
background-position:bottom;  
}
a.BTNContinueEmail {
display:block; 
height:72px; 
width:186px; 
background:url(../images/BTN_ContinueEmail.png) no-repeat top;
}
a.BTNContinueEmail.hover {
background-position:bottom;  
}
a.BTNContinueEmailLong {
display:block; 
height:72px; 
width:242px; 
background:url(../images/BTN_ContinueEmailLong.png) no-repeat top;
}
a.BTNContinueEmailLong.hover {
background-position:bottom;  
}
a.BTNFacebook {
display:block; 
height:90px; 
width:246px; 
background:url(../images/BTN_Facebook.png) no-repeat top;
}
a.BTNFacebook.hover {
background-position:bottom;  
}
a.BTNGreenNext{
display:block; 
height:90px; 
width:222px; 
background:url(../images/BTN_GreenNext.png) no-repeat top;
}
a.BTNGreenNext.hover {
background-position:bottom;  
}
a.BTNGreenOk{
display:block; 
height:57px; 
width:204px; 
background:url(../images/BTN_GreenOk.png) no-repeat top;
}
a.BTNGreenOk.hover {
background-position:bottom;  
}
a.BTNGreenSubmit{
display:block; 
height:90px; 
width:222px;
background:url(../images/BTN_GreenSubmit.png) no-repeat top;
}
a.BTNGreenSubmit.hover {
background-position:bottom;  
}
a.BTNBlueSkip{
display:block; 
height:90px; 
width:222px;
background:url(../images/BTN_BlueSkip.png) no-repeat top;
}
a.BTNBlueSkip.hover {
background-position:bottom;  
}
a.BTNGreySkip{
display:block; 
height:90px; 
width:222px;
background:url(../images/BTN_GreySkip.png) no-repeat top;
}
a.BTNGreySkip.hover {
background-position:bottom;  
}
a.BTNInputField{
display:block; 
height:44px; 
width:304px; 
background:url(../images/BTN_InputField.png) no-repeat top;
}
a.BTNInputField.hover {
background-position:bottom;  
}
a.BTNGreenLogin{
display:block; 
height:90px; 
width:264px; 
background:url(../images/BTN_GreenLogin.png) no-repeat top;
}
a.BTNGreenLogin.hover {
background-position:bottom;  
}
a.BTNGreenRegister{
display:block; 
height:90px; 
width:264px; 
background:url(../images/BTN_GreenRegister.png) no-repeat top;
}
a.BTNGreenRegister.hover {
background-position:bottom;  
}
a.BTNBlueLogin{
display:block; 
height:90px; 
width:264px; 
background:url(../images/BTN_BlueLogin.png) no-repeat top;
}
a.BTNBlueLogin.hover {
background-position:bottom;  
}
a.BTNBlueRegister{
display:block; 
height:90px; 
width:264px; 
background:url(../images/BTN_BlueRegister.png) no-repeat top;
}
a.BTNBlueRegister.hover {
background-position:bottom;  
}
a.BTNGreenOkMed{
display:block; 
height:60px; 
width:210px; 
background:url(../images/BTN_GreenOkMed.png) no-repeat top;
}
a.BTNGreenOkMed.hover {
background-position:bottom;  
}
a.BTNGreenTryAgain{
display:block; 
height:60px; 
width:210px; 
background:url(../images/BTN_GreenTryAgainMed.png) no-repeat top;
}
a.BTNGreenTryAgain.hover {
background-position:bottom;  
}
a.BTNGreyClose {
display:block; 
height:60px; 
width:60px; 
background:url(../images/BTN_GreyClose.png) no-repeat top;
}
a.BTNGreyClose.hover {
background-position:bottom;  
}
a.BTNLightGreyLetter {
display:block; 
height:72px; 
width:68px; 
background:url(../images/BTN_LightGreyLetter.png) no-repeat top;
text-decoration:none;
font-size:32px;
line-height:76px;
color:#000;
text-align:center;
}
a.BTNLightGreyLetter.hover {
background-position:bottom;  
line-height:80px;
}
a.BTNLightGreyLetter2 {
display:block; 
height:72px; 
width:102px; 
background:url(../images/BTN_LightGreyLetter2.png) no-repeat top;
text-decoration:none;
font-size:32px;
line-height:76px;
color:#000;
text-align:center;
}
a.BTNLightGreyLetter2.hover {
background-position:bottom;  
line-height:80px;
}
a.BTNLightGreyLetterMed {
display:block; 
height:72px; 
width:94px; 
background:url(../images/BTN_LightGreyLetterMed.png) no-repeat top;
text-decoration:none;
font-size:32px;
line-height:76px;
color:#000;
text-align:center;
}
a.BTNLightGreyLetterMed.hover {
background-position:bottom;  
line-height:80px;
}
a.BTNDarkGreyCap {
display:block; 
height:72px; 
width:102px; 
background:url(../images/BTN_DarkGreyCap.png) no-repeat -2px 0px;
}
a.BTNDarkGreyCap.hover {
background:url(../images/BTN_DarkGreyCap.png) no-repeat -2px -76px;
line-height:76px;
}
a.BTNDarkGreyCapSelected {
display:block; 
height:72px; 
width:102px; 
background:url(../images/BTN_DarkGreyCap.png) no-repeat -2px -148px;
}
a.BTNDarkGreyCapSelected.hover {
background:url(../images/BTN_DarkGreyCap.png) no-repeat -2px -223px;
}
a.BTNDarkGreyDel {
display:block; 
height:72px; 
width:102px; 
background:url(../images/BTN_DarkGreyDel.png) no-repeat top;
}
a.BTNDarkGreyDel.hover {
background-position:bottom;  
}
a.BTNDarkGreySign {
display:block; 
height:72px; 
width:102px; 
background:url(../images/BTN_DarkGreySign.png) no-repeat top;
}
a.BTNDarkGreySign.hover {
background-position:bottom;  
}
a.BTNDarkGreyNum {
display:block; 
height:72px; 
width:102px; 
background:url(../images/BTN_DarkGreyNum.png) no-repeat top;
}
a.BTNDarkGreyNum.hover {
background-position:bottom;  
}
a.BTNDarkGreySymbol {
display:block; 
height:72px; 
width:170px; 
background:url(../images/BTN_DarkGreySymbol.png) no-repeat top;
}
a.BTNDarkGreySymbol.hover {
background-position:bottom;  
}
a.BTNDarkGreySymbol02 {
display:block; 
height:72px; 
width:140px; 
background:url(../images/BTN_DarkGreySymbol02.png) no-repeat top;
}
a.BTNDarkGreySymbol02.hover {
background-position:bottom;  
}
a.BTNDarkGreyABC {
display:block; 
height:72px; 
width:170px; 
background:url(../images/BTN_DarkGreyABC.png) no-repeat top;
}
a.BTNDarkGreyABC.hover {
background-position:bottom;  
}
a.BTNDarkGreyABC02 {
display:block; 
height:72px; 
width:140px; 
background:url(../images/BTN_DarkGreyABC02.png) no-repeat top;
}
a.BTNDarkGreyABC02.hover {
background-position:bottom;  
}
a.BTNGreenDone {
margin-top:3px;
margin-left:5px;
display:block; 
height:63px; 
width:163px; 
background:url(../images/BTN_GreenDone.png) no-repeat top;
border-radius: 15px;
-moz-box-shadow: 0px 5px 5px #333;
-webkit-box-shadow: 0px 5px 5px #333;
box-shadow: 0px 5px 5px #333;
}
a.BTNGreenDone.hover {
background-position:bottom;
margin-top:6px;
}
a.BTNLightGreySpace {
display:block; 
height:72px; 
width:340px; 
background:url(../images/BTN_LightGreySpace.png) no-repeat top;
}
a.BTNLightGreySpace.hover {
background-position:bottom;  
}
a.BTNGreenStartHere {
display:block; 
height:90px; 
width:300px; 
background:url(../images/BTN_GreenStartHere.png) no-repeat top;
}
a.BTNGreenStartHere.hover {
background-position:bottom;  
}
a.BTNRedGetMore {
display:block; 
height:330px; 
width:500px; 
background:url(../images/TXT_Register02.png) no-repeat top;
}
a.BTNRedGetMore.hover {
background-position:bottom;  
}
a.BTN {
text-decoration:none;
}
a.BTN.hover div{
background-position:bottom; 
margin-top:3px;
}
.BTNShadow {
margin-right:5px;
margin-top:5px;
border-radius: 16px;
-moz-box-shadow: 0px 6px 5px #666;
-webkit-box-shadow: 0px 6px 5px #666;
box-shadow: 0px 6px 5px #666;
}
.BTNShadowLeft {
margin-left:10px;
margin-top:5px;
border-radius: 16px;
-moz-box-shadow: 0px 6px 5px #666;
-webkit-box-shadow: 0px 6px 5px #666;
box-shadow: 0px 6px 5px #666;
}
.BTN40Shadow {
margin-right:5px;
border-radius: 18px;
-moz-box-shadow: 0px 4px 3px #888;
-webkit-box-shadow: 0px 4px 3px #888;
box-shadow: 0px 4px 3px #888;
}
.BTN40GreenShadow {
margin-right:5px;
border-radius: 20px;
-moz-box-shadow: 0px 4px 3px #1c60ac;
-webkit-box-shadow: 0px 4px 3px #1c60ac;
box-shadow: 0px 4px 3px #1c60ac;
}
.BTN30Shadow {
margin: 5px 10px 0 10px;
border-radius: 18px;
-moz-box-shadow: 0px 3px 3px #1c60ac;
-webkit-box-shadow: 0px 3px 3px #1c60ac;
box-shadow: 0px 3px 3px #1c60ac;
}
.BTN30GreenShadow{
margin-top:10px;
border-radius: 18px;
-moz-box-shadow: 0px 3px 3px #1c60ac;
-webkit-box-shadow: 0px 3px 3px #1c60ac;
box-shadow: 0px 3px 3px #1c60ac;
}
.BTNGreenLeft{
display:block;
height:74px; 
width:12px; 
background:url(../images/BTN_GreenLeft.png) no-repeat top;
}
.BTNGreenRight{
display:block; 
height:74px; 
width:12px; 
background:url(../images/BTN_GreenRight.png) no-repeat top;
}
.BTNGreenMid {
display:block; 
height:74px; 
color:#fff;
background:url(../images/BTN_GreenMid.png) repeat-x top;
text-transform:uppercase;
font-size:30px;
padding: 0 25px 0 25px;
text-decoration:none;
line-height:82px;
}
.BTNGreenMidSubmit {
display:block; 
height:74px; 
color:#fff;
background:url(../images/BTN_GreenMid.png) repeat-x top;
text-transform:uppercase;
font-size:30px;
padding: 0 50px 0 50px;
text-decoration:none;
line-height:82px;
}
.BTNBlueLeft{
display:block; 
height:74px; 
width:12px; 
background:url(../images/BTN_BlueLeft.png) no-repeat top;
}
.BTNBlueRight{
display:block; 
height:74px; 
width:12px; 
background:url(../images/BTN_BlueRight.png) no-repeat top;
}
.BTNBlueMid {
display:block; 
height:74px; 
color:#fff;
background:url(../images/BTN_BlueMid.png) repeat-x top;
text-transform:uppercase;
font-size:30px;
padding: 0 25px 0 25px;
text-decoration:none;
line-height:82px;
}
.BTNGrey40Left{
display:block; 
height:50px; 
width:14px; 
background:url(../images/BTN_Grey40Left.png) no-repeat top;
}
.BTNGrey40Right{
display:block; 
height:50px; 
width:14px; 
background:url(../images/BTN_Grey40Right.png) no-repeat top;
}
.BTNGrey40Mid {
display:block; 
height:50px; 
color:#fff;
background:url(../images/BTN_Grey40Mid.png) repeat-x top;
text-transform:uppercase;
font-size:26px;
padding: 0 5px 0 5px;
text-decoration:none;
line-height:59px;
}
.BTNGrey40MidLeave {
display:block; 
height:50px; 
color:#fff;
background:url(../images/BTN_Grey40Mid.png) repeat-x top;
text-transform:uppercase;
font-size:26px;
padding: 0 30px 0 30px;
text-decoration:none;
line-height:59px;
}
.BTNGreen40Left{
display:block; 
height:50px; 
width:14px; 
background:url(../images/BTN_Green40Left.png) no-repeat top;
}
.BTNGreen40Right{
display:block; 
height:50px; 
width:14px; 
background:url(../images/BTN_Green40Right.png) no-repeat top;
}
.BTNGreen40Mid {
display:block; 
height:50px; 
color:#fff;
background:url(../images/BTN_Green40Mid.png) repeat-x top;
text-transform:uppercase;
font-size:26px;
padding: 0 50px 0 50px;
text-decoration:none;
line-height:59px;
}
.BTNGreen40MidTryAgain {
display:block; 
height:50px; 
color:#fff;
background:url(../images/BTN_Green40Mid.png) repeat-x top;
text-transform:uppercase;
font-size:26px;
padding: 0 22px 0 22px;
text-decoration:none;
line-height:59px;
}
.BTNRed40Left{
display:block; 
height:50px; 
width:14px; 
background:url(../images/BTN_Red40Left.png) no-repeat top;
}
.BTNRed40Right{
display:block; 
height:50px; 
width:14px; 
background:url(../images/BTN_Red40Right.png) no-repeat top;
}
.BTNRed40MidCencel {
display:block; 
height:50px; 
color:#fff;
background:url(../images/BTN_Red40Mid.png) repeat-x top;
text-transform:uppercase;
font-size:26px;
padding: 0 16px 0 16px;
text-decoration:none;
line-height:59px;
}
.BTNBlue30Left{
display:block; 
height:40px; 
width:11px; 
background:url(../images/BTN_Blue30Left.png) no-repeat top;
}
.BTNBlue30Right{
display:block; 
height:40px; 
width:11px; 
background:url(../images/BTN_Blue30Right.png) no-repeat top;
}
.BTNBlue30Mid {
display:block; 
height:40px; 
color:#fff;
background:url(../images/BTN_Blue30Mid.png) repeat-x top;
text-transform:uppercase;
font-size:20px;
padding: 0 10px 0 10px;
text-decoration:none;
line-height:46px;
}
.BTNGreen30Left{
display:block; 
height:40px; 
width:11px; 
background:url(../images/BTN_Green30Left.png) no-repeat top;
}
.BTNGreen30Right{
display:block; 
height:40px; 
width:11px; 
background:url(../images/BTN_Green30Right.png) no-repeat top;
}
.BTNGreen30Mid {
display:block; 
height:40px; 
color:#fff;
background:url(../images/BTN_Green30Mid.png) repeat-x top;
text-transform:uppercase;
font-size:20px;
padding: 0 50px 0 50px;
text-decoration:none;
line-height:46px;
}

/*URL*/
.URL {
font-size:18px; 
position:absolute; 
margin-right:0; 
text-align:right; 
width:710px; 
color:#003283;
}
.URLTop40 {
margin-top:40px; 
}
.URLTop10 {
margin-top:10px; 
}
a.BTNNoHover.hover {
background-position:top;
}
a.BTNNoHover.hover div {
background-position:top;
}

/* Drop down menu*/
div.selectbox-wrapper {
  position:absolute;
  width:400px;
  background-color:white;
  border:1px solid #ccc;
  margin:0px 0 0 5px;
  margin-top:-10px;
  padding:0px;
  text-align:left;
  max-height:200px;
  overflow:auto;
}
div.selectbox-wrapper ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.selectbox-wrapper ul li.selected {
  background-color: #EAF2FB;
}
div.selectbox-wrapper ul li.current {
  background-color: #CDD8E4;
}
div.selectbox-wrapper ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}
.selectbox
{
  margin: 0px 5px 10px 0px;
  padding-left:10px;
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:1em;/* Resize Font*/
  width : 144px; /* Resize Width */
  display : block;
  text-align:left;
  background: url('../images/BG_SelectMenu.png') right;
  cursor: pointer;
  border:0px;
  color:#626262;
}

/**
 * CSS for page loading and animations
 * The major animations are in the jquery mobile css file
 */
div[data-role="page"]
{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #777;
  overflow: visible;
  padding:0;
  margin:0;
  width:800px;
  height:480px;
}
div[data-role="page"].transparent
{
  background: transparent;
}

.hidden-page
{
  /* z-index: -1; */
  display: none;
}

.shiftup.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: shiftinfrombottom;
	/*z-index: 10;*/
}

.shiftdown.in {
	-webkit-transform: translateY(0);
	-webkit-animation-name: shiftinfromtop;
	/*z-index: 10;*/
}

@-webkit-keyframes shiftinfromtop {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(0); }
}

@-webkit-keyframes shiftinfrombottom {
    from { -webkit-transform: translateY(0); }
    to { -webkit-transform: translateY(0); }
}

